* {
	font-family: Lato;
}

#logo {
	height: 200px;
	padding: 10px 10px 10px 10px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
	background-color: #C5D8FF;
	font-size: 16px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#homepage {
	display: flex;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#leftbar {
display: inline-block;
float: left;
}

#welcome {
display: inline-block;
float: right;
width: 500px;
margin-left: 20px;
margin-right: auto;
line-height: 180%;
}

ul {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.menuitem {
	padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.comingsoon {
	text-align: center;
    font-size: 20px;
}

table, th {
   	width: 25%;
   	height: 100%;
    border-right: thin;
    border-right: 2px solid #E6E6E6;
    padding: 10px 10px 10px 10px;
}

tbody {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.profile {
    height: 180px;
    width: auto;
    border: 1px solid black;
    border-radius: 8px;

 }

 .socialmedia {
 	padding: 10px 10px 10px 10px;
 }

.twitter {
	width: 30px;
	height: 30px;
	padding-right: 2px;
	padding-left: 2px;
}

.facebook {
	width: 30px;
	height: 30px;
	padding-right: 2px;
	padding-left: 2px;
}
.linkedin {
	width: 30px;
	height: 30px;
	padding-right: 2px;
	padding-left: 2px;

}
.github {
	width: 30px;
	height: 30px;
	padding-right: 2px;
	padding-left: 2px;
}

p,h3 {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.contactme {	
	background-color: #F2F2F2;
	display: block;
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #FFFFFF;
}

#title {
	text-align: left;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	border: 1px;

}

*//*
form > div {
	position: relative;
	margin-top: 2px;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 1px;
}

form > div > label {
	position: absolute;
	margin-top: 2px;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 1px;
}
*//

}
input {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

label {
	text-align: left;
	font-size: 14px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	margin-left: 0px;
}

.form {
	text-align: left;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #FFFFFF;
}


#your-name, #email, #message {
font-size: 14px;
font-family: Muli;
text-align: left;
padding: 6px 6px 6px 6px;
border: 1px solid;
}

#formspree{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#message {
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding: 5px 5px 5px 5px;
	width: 390px;
}

#send {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
	margin-left: 0px;
	border:1px;
	padding: 0px 0px 10px 0px;
}

#sendbutton {
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding: 4px 10px 4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#sendbutton:hover {
	background-color:#80D180;
}

.#sendbutton:active {
	position:relative;
	top:1px;
}

.projectscreenshot {
	height: 550px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

#projectstitle {
	font-family: Muli;
	font-weight: lighter;
	padding: 15px 15px 15px 15px;
	margin-right: 60px;
	margin-left: 60px;
	text-align: center;
}

#thanksmessage {
	font-family: Muli;
	font-weight: lighter;
	margin: 40px 0px 5px 0px;
}

#smily {
	text-align: center;
	margin: 0px;
}

#thanksdiv{
	display: none;
	text-align: center;
}